<!-- -*- mode: XML -*- -->

<launch>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find robotics_controller)/params/tilt.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port dxl_port
                joint1_controller
		joint2_controller
		joint3_controller"
          output="screen"/>

  <rosparam file="$(find robotics_controller)/params/joints_trajectory_controller.yaml" command="load"/>
  <node name="controller_spawner_meta" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --type=meta
		f_arm
                joint1_controller
		joint2_controller
		joint3_controller"
          output="screen"/>
    
		
   	
</launch>
